body {
    background-color: #F5F5F5;
    font-family: Roboto, sans-serif;
    font-style: normal;
    color: #212121;
}
.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
   
    
}
ul {
    padding: none;
    margin: none;
    list-style: none;
}

.logo {
    font-family: Raleway, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    margin-right: 93px;
}
.web {
    color: #2196F3;
}

.studio {
    color: #000000;
}

.link {
    color: #212121;
    text-decoration: none;
}
.link:hover,
.link:focus {
    color:#2196F3 ;
}

.color {
    background-color:#2F303A ;
    color: #FFFFFF;
}

.baner {
    background-color: #2F303A;
    color: #FFFFFF;
    text-align: center;
}



h1 {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    padding-top: 200px;
    margin:0;
}

.button {
    font-family: Roboto, sans-serif;
    background-color:#2196F3;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    cursor: pointer;
    margin:auto;
    border-radius: 4px;
    width: 216px;
    margin-bottom: 200px;

}

.button:hover,
.button:focus {
    background-color: #188CE8;
}

.button:active {
    background-color: #188CE8;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;

}
h2 {
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
}


.robota h3 {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
}

.robota p {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
}

.team {
    background-color:#F5F4FA;
    text-align: center;
}
.what{
    text-align: center;

}

.team h3 {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
}

.team p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: #757575;
}

.color a {
    color:#FFFFFF;
}
address a {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
address .link {
    color: rgba(255, 255, 255, 0.6);
}

nav li {
    font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
}

.tel {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
}

button {
    font-family:Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    color: #212121;
    background-color:#F5F4FA;
    cursor: pointer;
    border-radius: 4px;
    padding: 6px 20px;
}
button:hover,
button:focus {
    background-color: #188CE8;
    color: #FFFFFF;
}

button:active {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    background-color: #2196F3;
}

.portfolio h2 {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
}

.portfolio p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: #757575;
}



address {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    margin-top: 20px;
    padding-bottom: 60px;

    
}

.navigation {
    display: flex;
    padding-left: 0;
}

.navigation li {
    margin-right: 50px;
}

.navigation li:last-child {
    margin-right: 0;
}

.contact {
    display: flex;
    margin-left: 344px;
    padding-left: 0;
}

.contact li {
    margin-right: 50px;  
}
.contact li:last-child {
    margin-right: 0;
}
header {
    display: flex;
    height: 80px;
    border-bottom: 1px solid #ECECEC;
    
}
nav{
    display: flex;
    align-items: center;
}

.none {
    display: none;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
    
}
.rob {
    display: flex;
    padding-left: 0;
}

.rob li {
    margin-right: 30px;
}
.rob li:last-child {
    margin-right: 0;
}

center {
    text-align: center;
}

.robota{
    text-align: left;
}

.work {
    display: flex;
    margin-top: 50;
    padding-left: 0;
    
}

.work li{
    margin-right: 30px;
}
.work li:last-child {
    margin-right: 0;
}

.card{
    background-color: #FFFFFF;
    width: 270px;
    height: 368px;
}

.people {
    display: flex;
}
.people li{
    margin-right: 30px;
}
.people li:last-child {
    margin-right: 0;
}

ul {
    padding-left: 0;
}

.logo2 {
    padding-top: 60px;
}

.choise {
    display: flex;
    justify-content: center;
}
.choise li {
    margin-right: 8px;
}

.choise li:last-child{
    margin-right: 0;
}

.card2 {
    background-color:#F5F5F5;
       
     border-bottom: 1px solid black;

     
}

.card-set{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 34px;
    margin-bottom: 0;


}

