body {
    background-color: #F5F5F5;
    font-family: Roboto, sans-serif;
    font-style: normal;
    color: #212121;
}

.logo {
    font-family: Raleway, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}
.web {
    color: #2196F3;
}

.studio {
    color: #000000;
}

.link {
    color: #212121;
    text-decoration: none;
}
.link:hover,
.link:focus {
    color:#2196F3 ;
}

.color {
    background-color:#2F303A ;
    color: #FFFFFF;
}

h1 {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.button {
    font-family: Roboto, sans-serif;
    background-color:#2196F3;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    cursor: pointer;
}

.button:hover,
.button:focus {
    background-color: #188CE8;
}

.button:active {
    background-color: #188CE8;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;

}
h2 {
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
}

.robota h3 {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
}

.robota p {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
}

.team {
    background-color:#F5F4FA;
}

.team h3 {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
}

.team p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: #757575;
}

.color a {
    color:#FFFFFF;
}
address a {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
address .link {
    color: rgba(255, 255, 255, 0.6);
}

nav li {
    font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
}

.tel {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
}

button {
    font-family:Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    color: #212121;
    background-color:#F5F4FA;
    cursor: pointer;
}
button:active {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    background-color: #2196F3;
}

.portfolio h2 {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
}

.portfolio p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: #757575;
}

ul {
    list-style: none;
}

address {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    
}